{{extend 'layout.html'}}

{{block header}}
    <header class="container-fluid background">
      <div class="jumbotron text-center">
        {{if response.title:}}
        <h1>{{=response.title}}
          <small>{{=response.subtitle or ''}}</small></h1>
        {{pass}}
      </div>
    </header>
{{end}}

<h2>{{=T('Descarga de Exámenes')}}</h2>

<p>{{=T('   ')}}</p>

<p>{{=T('Enlaces de Descarga de los exámenes de la Unidad 1.')}}</p>

<li>
<a href="dow\examen1A.pdf" download="examen1A.pdf">
Descargar Exámen A
</a>
</li>

<li>
<a href="dow\examen1B.pdf" download="examen1B.pdf">
Descargar Exámen B
</a>
</li>


<p>{{=T('   ')}}</p>
<p>{{=T('Enlaces de Descarga de los exámenes de la Unidad 2.')}}</p>

<li>
<a href="dow\examen2A.pdf" download="examen2A.pdf">
Descargar Exámen A
</a>
</li>

<li>
<a href="dow\examen2B.pdf" download="examen2B.pdf">
Descargar Exámen B
</a>
</li>



<p>{{=T('   ')}}</p>
<p>{{=T('Enlaces de Descarga de los exámenes de la Unidad 3.')}}</p>

<li>
<a href="dow\examen3A.pdf" download="examen3A.pdf">
Descargar Exámen A
</a>
</li>

<li>
<a href="dow\examen3B.pdf" download="examen3B.pdf">
Descargar Exámen B
</a>
</li>


<p>{{=T('   ')}}</p>
<p>{{=T('Enlaces de Descarga de los exámenes de la Unidad 4.')}}</p>

<li>
<a href="dow\examen4A.pdf" download="examen4A.pdf">
Descargar Exámen A
</a>
</li>

<li>
<a href="dow\examen42016.pdf" download="examen42016.pdf">
Descargar Exámen A 2016
</a>
</li>


<p>{{=T('   ')}}</p>
<p>{{=T('Enlaces de Descarga de los exámenes extraordinarios.')}}</p>

<li>
<a href="dow\examen.pdf" download="examen.pdf">
Descargar Exámen
</a>
</li>


{{=BEAUTIFY(response._vars)}}
