{{extend 'layout.html'}}

{{block header}}
    <header class="container-fluid background">
      <div class="jumbotron text-center">
        {{if response.title:}}
        <h1>{{=response.title}}
          <small>{{=response.subtitle or ''}}</small></h1>
        {{pass}}
      </div>
    </header>
{{end}}

<h2>{{=T('Definición')}}</h2>

<p>{{=T('')}}</p>

<p>{{=T('   ')}}</p>

<p>{{=T('Si f(x) es una función derivable, la diferencial de una función correspondiente al incremento h de la variable independiente, es el producto f´(x)*h. La diferencial de una función se representa por dy.')}}</p>

<p>{{=T('   ')}}</p>

<hr>
                  <h2>2 Diferencial de una funci&oacuten.</h2>
                <hr>
                <p><img src="{{=URL('static/images/img','i_1-2_1.jpg')}}">pero<img src="{{=URL('static/images/img','i_1-2_2.jpg')}}">pero no es igual porque <img src="{{=URL('static/images/img','i_1-2_3.jpg')}}"></p>
                <p>Entonces:</p>
                <img src="{{=URL('static/images/img','i_1-2_4.jpg')}}">
                <p>Al incremento de la derivable independiente x se le llama diferencial de x, esto es:</p>
                <img src="{{=URL('static/images/img','i_1-2_5.jpg')}}">
                <p>A la funci&oacuten <img src="{{=URL('static/images/img','i_1-2_6.jpg')}}"> se llama <img src="{{=URL('static/images/img','i_1-2_7.jpg')}}"></p>
                <p>Se observa que <img src="{{=URL('static/images/img','i_1-2_8.jpg')}}"> representa el incremento de la funci&oacute, es decir:</p>
                <img src="{{=URL('static/images/img','i_1-2_9.jpg')}}">
                <p>por lo que<img src="{{=URL('static/images/img','i_1-2_10.jpg')}}"></p>
                <p>De esta forma</p>
                <img src="{{=URL('static/images/img','i_1-2_11.jpg')}}">
                <p>pero como</p>
                <img src="{{=URL('static/images/img','i_1-2_12.jpg')}}">

                <h3>Ejemplos</h3>

                <p>Calcular el valor aproximado de:</p>
                <p>Soluci&oacuten</p>
                <img src="{{=URL('static/images/img','i_1-2_13.jpg')}}">
                <img src="{{=URL('static/images/img','i_1-2_14.jpg')}}">

              </div>
            </div>
          
          

          <!-------------------------------------------------------------------------------------->
            <div class="row">
              <div class="col-xs-12" id="1-1-2">
                <hr>
                <h2> Aplicaciones de diferencial y determinaci&oacuten de errores.</h2>
                <hr>
                <p>Otra aplicaci&oacute de los diferenciales lo encontramos en el cálculo de errores de medici&oacuten</p>
                <img src="{{=URL('static/images/img','i_1-2_20.jpg')}}">
                <p>Por ejemplo</p>
                <img src="{{=URL('static/images/img','i_1-2_21.jpg')}}">

                <h3>Ejemplos</h3>
                <p>Aplique diferencial para estimar el número dado:</p>
                <p>Solici&oacuten</p>
                <img src="{{=URL('static/images/img','i_1-2_22.jpg')}}"><br>
                <img src="{{=URL('static/images/img','i_1-2_23.jpg')}}"><br>
                <img src="{{=URL('static/images/img','i_1-2_24.jpg')}}"><br>
                <img src="{{=URL('static/images/img','i_1-2_25.jpg')}}">

                <p>5. La medida efectuada al lado de un cubo de 30cm, con un error posible de ±0.002 cm. ¿Cual es el error &aacuteximo posible aproximado del volumen y el error relativo?</p>
                <p>Solici&oacuten</p>
                <img src="{{=URL('static/images/img','i_1-2_26.jpg')}}">

                <p>6. Se midi&oacute el radio de una esfera y se encontró que es de 21 cm con un posible error de medici&oacuten de acuanto mucho 0.05cm. ¿C&uacuteal es error relativo al usar este valor del radio para calcular el volumen de la esfera?</p>
                <p>Solici&oacuten</p>
                <img src="{{=URL('static/images/img','i_1-2_27.jpg')}}">
              </div>
            </div>



{{=BEAUTIFY(response._vars)}}
