{{extend 'layout.html'}}

{{block header}}
    <header class="container-fluid background">
      <div class="jumbotron text-center">
        {{if response.title:}}
        <h1>{{=response.title}}
          <small>{{=response.subtitle or ''}}</small></h1>
        {{pass}}
      </div>
    </header>
{{end}}


<h2>{{=T('Definición')}}</h2>
<p>{{=T('  ')}}</p>
<p>{{=T('Una de las aplicaciones del cálculo de integrales definidas es el cálculo de áreas de regiones acotadas del plano delimitadas por gráficos de funciones.')}}</p>

<p>Ya hemos visto que el área que hay bajo una curva se puede calcular utilizando la integral definida. Con muy escasas modificaciones podemos calcular el área que hay entre dos curvas. Consideremos dos funciones f y g definidas en un intervalo [a, b] tales que f(x) > g(x) para todo valor x de [a, b]. Entonces el área de la región limitada por las gr'aficas de f y g y las líneas rectas x = a y x = b viene dada por: </p>
<p>{{=T('  ')}}</p>
<img src="{{=URL('static/images','1.jpg')}}">
<p>{{=T('  ')}}</p>
<p>En general, puede ocurrir que no siempre se verifique f(x) >= g(x) ni lo contrario. Entonces debemos dividir el intervalo [a, b] en subintervalos donde si ocurra, aplicar la fórmula anterior en cada subintervalo y posteriormente sumar los resultados.</p>






{{=BEAUTIFY(response._vars)}}
