{{extend 'layout.html'}}
{{extend 'layout.html'}}

{{block header}}
    <header class="container-fluid background">
      <div class="jumbotron text-center">
        {{if response.title:}}
        <h1>{{=response.title}}
          <small>{{=response.subtitle or ''}}</small></h1>
        {{pass}}
      </div>
    </header>
{{end}}

<h2>{{=T('Definición')}}</h2>
<p>{{=T('  ')}}</p>

<p>La longitud de arco, también llamada rectificación de una curva, es la medida de la distancia o camino recorrido a lo largo de una curva o dimensión lineal. Históricamente, ha sido difícil determinar esta longitud en segmentos irregulares; aunque fueron usados varios métodos para curvas específicas, la llegada del cálculo trajo consigo la fórmula general para obtener soluciones cerradas para algunos casos.</p>}


      <div class="row">
            <div class="col-xs-12" id="1-3">
              <hr>
              <h2>4 Longitud de arco y &aacuterea de superficie de revoluci&oacuten.</h2>
              <hr>
            <p><img src="{{=URL('static/images/img','i_2-1_14.jpg')}}"></p>
    <p><img src="{{=URL('static/images/img','i_2-1_15.jpg')}}"></p>
    <p><img src="{{=URL('static/images/img','i_2-1_16.jpg')}}"></p>
    <p><img src="{{=URL('static/images/img','i_2-1_17.jpg')}}"></p>
    <p><img src="{{=URL('static/images/img','i_2-1_18.jpg')}}"></p>
    <p><img src="{{=URL('static/images/img','i_2-1_19.jpg')}}"></p>



          </div>
        </div>


{{=BEAUTIFY(response._vars)}}
